:root {
  --primary-color: #003a6c;
  --secondary-color: #002e56;
  --white-color: #fafafa;
  --primary-bg-color: #f1f0ea;
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f1f0ea;
}

div{ 
  display: inline;
}



/*---------------------------------------*/

#header{
  background-color: #003a6c;
  display: inline;
}

a{
  color: #fafafa;
  text-decoration: none;
}

li{
  display: inline-block;
  float: right;
  width: 100px;
  padding: 20px;
  text-align: center;
}

ul{
  position: relative;
  margin: 0px;;
}

#suscribirse{
  background-color: #002e56;
}



#footer{
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}